.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/
ios/
macos/
linux/
windows/
web/
*.jks
*.keystore
*.p12
*.pfx
key.properties
*signing-password*
*keystore-base64*
__pycache__/
*.pyc
